.section-article{
margin-top: 8%;
}

.titre-article{
    font-size: 1.8rem;
    color : gray;
}
.titre-visuel{
    font-size: 2rem;
    color: #363a3a;
    font-weight: 700;
}
.prix{
    font-size:1.2rem;
}
.img-article{
    max-width: 100px;
}
.img-slide{
    width: 25rem;
}