.bg-salvage{
    height: 562px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container-success{
    height: 440px;
    display: flex;
    align-items: flex-end;
}
.titre-pourc{
    margin-top:10px;
}

.earthpositive{
    margin:0;
}
.fairshaire{
    padding-top: 0;
}

